@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=DM+Serif+Display:ital@1&family=DotGothic16&family=IM+Fell+English:ital@1&family=Lemonada:wght@500&family=Poppins:wght@700&family=Rajdhani:wght@600&family=Reem+Kufi:wght@500&family=VT323&family=Vollkorn+SC:wght@700&display=swap');
.section {
  height: 100vh;
  color: magenta;
}

.section-content {
  margin: 0 auto;
  padding: 40px;
}

.app-container {
  background-color: #000000;
}

#elevator-container {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: inline-flex;
  position: relative;
}

#left-door {
  height: inherit;
  width: 50vw;
  background-image: url('./assets/Elevator_Scene_No_Button-min.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed ;
}

#right-door {
  height: inherit;
  width: 50vw;
  position:relative;
  background-image: url('./assets/Elevator_Scene_No_Button-min.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.button-container{
  // height: 100vh;
  // width: 100vw;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.elevator-button {
  height: 18.2vh;
  width: 14.7vh;
  background-color: #00E3FF;
  background-image: url('./assets/Elevator_Button-min.png');
  background-position: 52% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: rgb(255, 255, 255, 0) solid;
  border-radius: 10% 10% 10% 10%;
  margin: auto;
  margin-top: 42.5vh;
  &:hover {
    -webkit-box-shadow: 0px 0px 44px 11px #00E3FF, inset 0px 0px 15px -1px #00E3FF; 
    box-shadow: 0px 0px 44px 11px #00E3FF, inset 0px 0px 15px 2px #00E3FF;
    cursor: pointer;
    &::before {
      background-color: #00E3FF;
    }
  }
}

#street-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.background-loader {
  background-image: url('./assets/Street_Scene-min.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed ;
}

#cover-image{
  pointer-events  : none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 99 !important;
  animation: fade 10s forwards;
  background-color: rgb(0, 0, 0);
}

@keyframes fade {
  from {background-color:rgba(42,42,42, 1);}
  to {background-color:rgba(242, 245, 169, 0);}
}

.bar-sec-container {
  width: 100vw;
  display: flex;
  background-image: url('./assets/Bar_Scene-min.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: row;
  justify-content: flex-start;
}

@media (max-aspect-ratio: 176/100){
  .bar-sec-container {
    background-image: url('./assets/Bar_Scene-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-aspect-ratio: 179/100){
  .bar-sec-container {
    background-image: url('./assets/Bar_Scene-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (aspect-ratio: 16/9){
  .bar-sec-container {
    background-image: url('./assets/Bar_Scene-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#bar-sec-1 {
  background-color: #000;
  width: 20vw;
  height: 100vh;
}

#bar-sec-2 {
  background-color: black;
  width: 20vw;
  height: 100vh;
  &:hover {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(2,0,36,0.9) 50%, rgba(0,0,0,0) 100%);
  }
}

#bar-sec-3 {
  background-color: black;
  width: 20vw;
  height: 100vh;
  cursor: pointer;
}

#bar-rest-sec {
  background-color: black;
  background: linear-gradient(270deg, rgba(0,0,0,1) 90%, rgba(0,0,0,0.8) 100%);
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    background: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
  }
}

.focus-right {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 64%, rgba(0,0,0,0) 100%) !important;
}

.focus-left {
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,1) 64%, rgba(0,0,0,0) 100%) !important;
  cursor: pointer;
}

.focus-left-sec {
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%) !important;

  &:hover {
    background: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
  }
}

#exposition-container-container {
  width: 30vw;
  height: 70vh;
  margin: auto;
}

#exposition-container {
  background-color: rgb(0, 0, 0, 0);
  margin: auto;
  vertical-align: middle;
}

#exposition-headline {
  color: white;
}

#exposition-body {
  color: white;
}

#street-section-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#street-sec {
  width: 33.33vw; 
  height: 100vh;
}

.bar-section {
  width: 33.33vw; 
  height: 100vh;
  background-image: url('./assets/Street_Scene_Lightup_1-min.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed ;
}

.bar-section-xl {
  width: 33.33vw; 
  height: 100vh;
  background-image: url('./assets/Street_Scene_Lightup_2-min.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed ;
}

.tooltip-text {
  font-family: 'Vollkorn SC', serif;
  font-size: 2em;
  cursor: pointer;
  color: #000;
  background-color: rgb(255, 255, 255, 1);
  border: white 5px solid;
  border-radius: 10%;
  opacity: 80%;
}
.tooltip-text-logo {
  font-family: 'Vollkorn SC', serif;
  font-size: 1.5em;
  cursor: pointer;
  color: #000;
  background-color: rgb(255, 255, 255, 1);
  border: white 5px solid;
  border-radius: 10%;
  opacity: 80%;
}

.mint-container {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/Mint_Screen.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#left-mint {
  height: 100vh;
  width: 50vw;
  line-height: 95vh;
  text-align: center;
  vertical-align: middle;
  color:rgb(20, 55, 255);
  cursor: pointer;
}

.final-card-container {
  width: 50%;
  position: absolute;
  margin: auto;
}

.card {
  perspective: 150rem;
  position: relative;
  // height: 40rem;
  max-width: 400px;
  margin: auto;
  margin-top: 25vh;
  box-shadow: none;
  background: none;
}

.card-side {
  height: 40vh;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22.5vh;
  padding:2rem;
  color: white
}

.card-side.back {
  transform: rotateY(-180deg);
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%);
}

.card-side.front {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card:hover .card-side.front {
  transform: rotateY(180deg);
}

.card:hover .card-side.back {
  transform: rotateY(0deg);
}

#roadmap {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 0;

}
.logo-icon {
  width: 10%;
  cursor: pointer;
  &:hover {
    opacity: 100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(132, 226, 255) 0%, rgba(185, 255, 245, 0.537) 20%, rgba(255,255,255,0) 38%);
  }
}

#roadmap-section-container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.roadmap-section {
  width: 19vw;
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: #000;
    box-shadow: rgb(50 50 93 / 20%) 0px 30px 60px -12px, rgb(0 0 0 / 28%) 0px 18px 36px -18px;
  }
    // -webkit-box-shadow: 2px 5px 16px 0px #525252, 0px 0px 32px 13px rgba(255,255,255,0.34); 
    // box-shadow: 2px 5px 16px 0px #525252, 0px 0px 32px 13px rgba(255,255,255,0.34);
  }


.roadmap-section-date {
  text-align: center;
  font-size: 2em;
  font-family: 'DM Serif Display', serif;
  opacity: 50%;
}

.roadmap-section-title {
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-align: center;
  font-family: 'Vollkorn SC', serif;
  font-size: 2.5em;
}

.roadmap-section-body {
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: justify;
  text-justify: auto;
  font-family: 'IM Fell English', serif;
  font-size: 1.5em;
}

.expo-section-title {
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-align: center;
  font-family: 'Vollkorn SC', serif;
  font-size: 3.5vw;
}

.expo-section-body {
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: justify;
  text-justify: auto;
  font-family: 'IM Fell English', serif;
  font-size: 1.4vw;
  display: inline;
}

.expo-section-quote {
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 1.2vw;
  color: rgb(135, 135, 135);
}

.quote-attr {
  width: 27vw;
  font-weight: 700;
  margin-top: 3%;
  text-align: right !important;
}

.roadmap-section-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.roadmap-section-image {
  width: 98%;
  margin: auto;
}

/* Stars 
------------------------------------- */

#space, .stars {
  z-index: -999999999;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: 
    radial-gradient(1px 1px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 5s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

// If screen is less than this aspect ratio, i.e. less than 16/9
@media (max-aspect-ratio: 176/100){
  .background-loader {
    background-image: url('./assets/Street_Scene-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment:fixed ;
  }

  #street-sec {
    width: 33.33vw; 
    height: 56.25vw;
  }

.bar-section {
  width: 33.33vw; 
  height: 56.25vw;
  background-image: url('./assets/Street_Scene_Lightup_1-min.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment:fixed ;
  cursor: pointer;
}

.bar-section-xl {
  width: 33.33vw; 
  height: 56.25vw;
  background-image: url('./assets/Street_Scene_Lightup_2-min.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment:fixed ;
  cursor: pointer;
}

.street-sec-adjustor{
  height: 100vh;
  width: 33.3333vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mint-container {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/Mint_Screen.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: start;
}


}

@media (min-aspect-ratio: 179/100){


.expo-section-title {
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-align: center;
  font-family: 'Vollkorn SC', serif;
  font-size: 4rem;
}

.expo-section-body {
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: justify;
  text-justify: auto;
  font-family: 'IM Fell English', serif;
  font-size: 3vh;
  display: inline;
}

.expo-section-quote {
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 1.75rem;
  color: rgb(135, 135, 135);
}

  .background-loader {
    background-image: url('./assets/Street_Scene-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
  }

  #street-sec {
    width: 33.33vw; 
    height: 100vh;
  }
.bar-section {
  width: 33.33vw; 
  height: 100vh;
  background-image: url('./assets/Street_Scene_Lightup_1-min.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed ;
  cursor: pointer;
}

.bar-section-xl {
  width: 33.33vw; 
  height: 100vh;
  background-image: url('./assets/Street_Scene_Lightup_2-min.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed ;
  cursor: pointer;
}

}

@media (aspect-ratio: 16/9){
  .background-loader {
    background-image: url('./assets/Street_Scene-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
  }

  #street-sec {
    width: 33.33vw; 
    height: 100vh;
  }
.bar-section {
  width: 33.33vw; 
  height: 100vh;
  background-image: url('./assets/Street_Scene_Lightup_1-min.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed ;
}

.bar-section-xl {
  width: 33.33vw; 
  height: 100vh;
  background-image: url('./assets/Street_Scene_Lightup_2-min.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed ;
}

}

.image-root {
  // text-align: center;
}

.image-icon {
  height: 95%;
  width: 95%;
}